body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

header {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 0 8px;
  background: #de3f89;
  color: white;
  flex-shrink: 0;
}

.flex-spacer {
  flex: 1;
}

main {
  flex: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: black;
}

#code-editor {
  flex: 1;
  min-height: 200px;
  height: 100%;
  width: 50%;
}

#vga-canvas-container {
  max-width: 50%;
}

#vga-canvas {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
}

.status-bar {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  padding: 4px 16px;
  font-variant-numeric: tabular-nums;
}

#audio-latency-display {
  color: grey;
}

#fps-display {
  color: white;
}

#preset-buttons button:not(:last-child) {
  margin-right: 4px;
}

#download-button {
  margin-left: 8px;
}

#download-button svg:hover {
  cursor: pointer;
  fill: white;
}

#input-values {
  padding: 8px 8px;
  color: #ccc;
  background: #333;
}

#input-values button.active,
#gamepad-pmod-inputs button.active {
  background: #0f0;
}
