name: CI

on:
  push:
    branches: ['main']
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Check formatting
        run: npx prettier --check "**/*.{js,ts,tsx,css,scss}"
      - name: Test
        run: npm test
